server:
  port: 18082

spring:
  application:
    name: AI-Alibaba-FunctionCalling
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
  ai:
    dashscope:
      api-key: ${DASHSCOPE_API_KEY}
      chat:
        options:
          model: qwen-max

logging:
  level:
    org.springframework.ai: DEBUG